h1  {
  background-color: #85C1E9;
  border-top: 200px;
  top: 200px;
margin-top: -10px;
width: 1920px;
}
#srchbar {
  position: absolute;
     right:10px;
   width:265px;
  top:85px;
border-radius: 33.5px;
}
input::-webkit-input-placeholder {
  color: #B6C0A5; 
    font-style: italic; 
  background: #E0EFCA;
  opacity: 0.5;
}
input:-moz-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
input:-ms-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
button  {
  position: absolute;
     right:10px;
   width:265px;
  top:105px;
opacity: 2.5;
border-radius: 33.5px;
}
#figma {  
 width: 2000px;
top: 5px;
right: 800px; 
} 
#fig {
position: absolute;
width: 177px;
height: 29px;
top: 10px;
right:695px;
max-width: 100%;  
height: auto;  
}
#figus  {
position: absolute;
width: 177px;
height: 29px;
top: 50px;
right:652px;
max-width: 100%;  
height: auto;  
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 19px;
color: blue;
}
#arrow  {
  color: red;
}
#utb  {
  position: absolute;
width: 350px;
height: 39px;
top: 0px;
right:300px;
max-width: 100%;  
height: auto; 
}
#pinfo  {
position: absolute;
width: 177px;
height: 29px;
top: 60px;
right: 395px;
max-width: 100%;  
height: auto;  
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 19px;
color: blue;
}
#addinf {
  position: absolute;
width: 200px;
height: 10px;
top: -20px;
right:70px;
max-width: 100%;  
height: auto;  
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
color: red;
}
#block1 { 
  position: absolute;
width: 965px;
height: 130px;
top: 0px;
right:995px;
max-width: 100%;  
background-color: #0e2433;
    float: left;
    border-radius: 100px;
}
#b1 {
  color: cyan; 
    font-weight: bold;
}
#b1t  {

}
#block2 {
position: absolute;
width: 1885px;
max-width: 100%;
background-color: #45b6fe;
height: 450px;
padding: : 0px;  
outline: 21px solid #1c4966;
}
#b2{
  color: red;
 font-style: oblique;
  font-weight: bold;
}
#b2t 	{
	font-style: italic;
	color: #000000;
	  font-weight: bold;
	  font-size: large;
}
#b2img	{
		 position:absolute;
width: 760px;
height: auto;
top: 300px;
right: 550px;
max-width: 100%;  	
}
#block3 {
  position: absolute;
top: 623px;
width: 740px;
left: 5px;
height: 800px;
max-width: 100%;
background-color: #2471A3;#2980B9;
outline: 8px solid #16A085; 
}
#b3   {
  color: rgb(0, 255, 200);
   font-style: oblique;
  font-weight: bold;
}
#b3t	{
	font-style: italic;
	color: #000000;
	  font-weight: bold;
	  font-size: large;
}
#sol 	{
	color: red;
}
#dwnarr	{
	color: red;
	font-size: large;
}
#hs	{
	color: blue;
	font-size: large;
}
#cadr	{
	color: blue;
	font-size: large;
}
#aim	{
	color: green;
	font-size: large;
}
#b3img	{
	position: absolute;
width: 800px;
height: 600;
top: 60px;
left: 0px;
max-width: 100%;  
l
}
#block4 {
position: absolute;
right: 5px;
top: 623px;
width: 1137px;
height: 800px;
max-width: 100%;
background-color: #F5B041;#F39C12;
outline: 8px solid cyan; 
}
#b4   {
    color: green;
   font-style: oblique;
  font-weight: bold;
}
#block5 {
      background-size: contain;
  position: absolute;
right: 5px;
top: 1430px;
width: 1900px;
height: 500px;
max-width: 100%;
background-color: #0e2433;
    border-radius: 50px;
}
#b5   {
      color: red;
   font-style: oblique;
  font-weight: bold;
}
#ft   {
  color: cyan;
   font-style: italic;
	  font-weight: bold;
	  font-size: large;
}
#fti  {
  width: 1900px;
right: 0px;
height: 400px;
}
#snarr {
  position: absolute;
width: 45px;
height: 50px;
top: 15px;
right:650px;
max-width: 100%;  
}
#b1t  {
  color: green;
}
#vestnik	{
	 position: absolute;
width: 200px;
height: auto;
top: -15px;
right: 600px;
max-width: 100%;  
}
#plat	{
	 position: absolute;
width: 300px;
height: auto;
top: 25px;
right: 80px;
max-width: 100%;  	
}
#last	{
	 position:absolute;
width: 875px;
height: auto;
top: 220px;
right: 550px;
max-width: 100%;  	
}
#fter	{
	color: red;
font-size: large;
}
#lsarr	{
		color: cyan;
	font-size: large;
}