 body { 
     font-family: Arial Black, sans-serif; /* Рубленый шрифт */ 
    }
    .marquee { 
     color: black; 
     font-size: 100%;
     font-family: serif;  
     position: relative; 
     top: 100px; 
    }
h1	{
color: cyan;
border="1";
}
p	{
color: blue;
}
table	{
BORDER: 10;
WIDTH: 85%;
BGCOLOR: black;
}
h2	{
color: blue;
}
element.style {
}
#login-logo {
    background: none repeat scroll 0 0 #34495e;
    color: #fff;
    display: block;
    font-size: 2em;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
	position: absolute; /* Абсолютное позиционирование */
    right:25px;
	top:500px;
}
#emblem {
	position: absolute; /* Абсолютное позиционирование */
	width: 174px;
   right:5px;
	top:625px;
}
#login-box-inner {
	position: absolute; 
   right:10px;
   width:265px;
	top:800px;
}
  h3 {
  color: cyan;
  align: center;
  }